.header-wrap{
    background: url(image/header.jpg);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    color: white;

}
header{
    max-width: 73%;
    margin: 0 auto;
    
}
ul{
    list-style-type: none;   
}

h1{
    
    text-align: center;
}
.menu1{
    float: left;
    font-size: 14px;

}
.main-wrap{
    background: url(image/bg03.png);    
    background-size: 600%;
    
   
}



a{
    text-decoration: none;
    color: white;
    
}
.high{
    margin-top: 10px;
    background: url(image/bg02.png);
    background-size: 100%;
    background-color: rgb(2, 46, 44);
    border-radius: 10px;
    border: 7px solid grey;

}

main{
    max-width: 70%;
    margin: 0 auto;
}

.menu12{
    float: left;
    font-size: 20px;
    margin-left: -15px;

    
}

.down{
    margin: 0 auto;
}
.footer-wrap{
    background: url(image/header.jpg);
    height: 155px;
}
img{
    width: 300px;
}
.menu{
    float: right;
    margin-right: 20px;
 }
 li{
    margin-left: 10px;
    
    
}
