.header-wrap{
    background: url(image/header.jpg);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}
header{
    max-width: 73%;
    margin: 0 auto;
    
}
ul{
    list-style-type: none;

 
    
}

img{
    float: left;
    width: 150px;
    border-radius: 7px;
    margin-left: 15px;
}


h1{
    
    text-align: center;
}
.menu1{
    float: left;
    font-size: 14px;

}
.main-wrap{
    background: url(image/bg03.png);    
    background-size: 95%;
   
}



a{
    text-decoration: none;
    color: white;
    
}
.high{
    margin-top: 10px;
    background: url(image/bg02.png);
    background-size: 100%;
    background-color: rgb(2, 46, 44);
    border-radius: 10px;
    border: 7px solid grey;

}

.header-wrap{
    color: white;
}
main{
    max-width: 70%;
    margin: 0 auto;
}
p{
    font-size: 10px;
    color: rgb(84, 167, 170);
    margin: 0 auto;
}
li{
    margin-left: 10px;
    
    
}

.menu12{
    float: left;
    font-size: 20px;
    margin-left: -15px;

    
}

.down{
    margin: 0 auto;
}
    
.cleaner{
    margin-bottom: 30px;
}
.menu{
   float: right;
   margin-right: 20px;
}
.imgs{
    margin-left: 185px;
    margin-bottom: 50px;
}
.footer-wrap{
    background: url(image/header.jpg);
}
